@import "../../../styles/colors.scss";
@import "../../../styles/fluid.scss";
@import "../../../styles/wrapper.scss";

/* Footer */
.footer {
  @include wrapper-x;
  @include wrapper-bottom;
  @include fluid("padding-top", 35, 50);
  display: flex;
  justify-content: space-between;

  .group {
    display: flex;

    a {
      @include fluid("margin-right", 15, 15);

      &:last-of-type {
        margin-right: 0;
      }
    }
  } 
}