  <nav>
    <ul class="left hide-on-med-and-down">
      <li><a class="kioshi-brand" href="https://welcome.to.development.house">DEVELOPMENT HOUSE</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href=""></a></li>
      <!--<li><a href="http://ampelos.github.io">TECH</a></li>-->
      <li class="active"><a href="https://development.house/users/sign_in ">Log in</a></li>
    </ul>
  </nav>
<div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Hellos</h5>
        </div>
      </div>
    </div>
  <div class="parallax">
    <div class="Unsplashed background img 1"></div>
    <!-- <img src="img/PixelArt1.png" alt="Unsplashed background img 1"> -->
  </div>
</div>
