  <nav>
    <ul class="left">
      <li><a class="kioshi-brand" href="https://welcome.to.development.house">DEVELOPMENT HOUSE</a></li>
    </ul>
    <ul id="nav-mobile" class="right">
      <li><a href=""></a></li>
      <!--<li><a href="http://ampelos.github.io">TECH</a></li>-->
      <li class="active"><a href="https://development.house/users/sign_in ">Log in</a></li>
    </ul>
  </nav>
<div id="index-banner" class="parallax-container top-container">
      <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <div class="splash-title">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 722.2 261.3" style="enable-background:new 0 0 722.2 261.3;" xml:space="preserve">
            <style type="text/css">
              .st0{fill:none;}
              .st1{fill:#ac4200;}
              .st2{font-family:'PinkBlue';}
              .st3{font-size:132px;}
            </style>
            <rect y="23.2" class="st0" width="722.2" height="111.9"/>
            <text transform="matrix(1 0 0 1 2.010570e-04 112.2129)" class="st1 st2 st3">Development</text>
            <rect x="186.1" y="150.1" class="st0" width="350.1" height="96.1"/>
            <text transform="matrix(1 0 0 1 186.0588 239.0957)" class="st1 st2 st3">House</text>
            </svg>
          </div>
          <h5 class="header col s12 light splash-desc">Development House is a development platform inspired by the need for collaboration throughout the entire life cycle of an enterprise service.</h5>
          <h5 class="header col s12 light splash-desc">We are also a small upstart game studio producing open world environments based on community driven design.</h5>
        </div>
      </div>
    </div>
  <div class="parallax">
    <div class="top-"></div>
    <!-- <img src="img/PixelArt1.png" alt="Unsplashed background img 1"> -->
  </div>
</div>
