  <nav>
    <ul class="left hide-on-med-and-down">
      <li><a class="kioshi-brand" href="http://kioshi.pictures">DEVELOPMENT HOUSE</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href=""></a></li>
      <!--<li><a href="http://ampelos.github.io">TECH</a></li>-->
      <li class="active"><a href="https://development.house/users/sign_in ">Log in</a></li>
    </ul>
  </nav>
<div id="index-banner" class="parallax-container">
  <div class="section mine-toast-section">
    <div class="container">
      <div class="top-card">
        <br><br>
        <h1 class="header center mine-toast"></h1>
  
        <div class="mine-toast-logo"></div>
        <div class="row center">
          <h5 class="header col s12 light jam">Carrucan's <br> Battlegrounds</h5>
          <h6 class="header col s12 light jam">Release v0.8</h6>
          <h6 class="header col s12 light jam">Battle Royale MMO</h6>
        </div>
        <div class="row center">
          <a href="https://development.house" id="download-button" class="btn-large modal-trigger waves-effect waves-light forge">Download</a>
        </div>
        <div id="server" class="modal bottom-sheet">
          <div class="modal-content">
            <ul class="collection">
              <li class="collection-item avatar">
                <h2 class="icon-avatar brown-text"><a href="" class=""></a></h2>
                <span class="title green"></span>
                <p> <br>
                </p>
                <a href="#!" class="secondary-content"></a>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
          </div>
          </div>
        <br><br>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="img/home-header-background.jpg" alt="Unsplashed background img 1"></div>
</div>
