@import "../../styles/colors.scss";
@import "../../styles/transitions.scss";

/* Keyboard opions */
.options {
  margin: 0.6rem 0;

  .select {
    position: relative;
    display: inline-flex;

    .button {
      background: $color-background-secondary;

      svg {
        margin-right: 1rem;
      }

      &:hover {
        background: $color-background-highlight;

        span {
          color: $color-text-primary;
        }

        svg {
          fill: $color-text-primary;
        }
      }
    }

    &> div:last-of-type {
      position: absolute;
      width: 100%;
    }

    .options {
      position: absolute;
      bottom: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5rem;
      opacity: 0;
      pointer-events: none;
      @include transition(opacity);

      .option {
        background: $color-background-secondary;

        svg {
          margin-right: 1rem;
        }

        &:hover {
          background: $color-background-highlight;

          span {
            color: $color-text-primary;
          }

          svg {
            fill: $color-text-primary;
          }
        }
      }
    }

    &.active {
      .button {
        background: $color-background-highlight;
      }

      .options {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}