@import "./colors.scss";

/* Preloader */
.preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: $color-background-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    height: 30px;
  }

  img {
    z-index: 120;
  }

  .preloader_animation {
    position: absolute;
    width: 140px;
    height: 140px;
    border: 5px solid $color-text-primary;
    border-radius: 50%;
    opacity: 0; 
    z-index: 110;
    animation: preloaderAnimation 1.5s ease-out infinite 0s;

    @keyframes preloaderAnimation {
      0% {
        transform: scale(.1);
        opacity: 0.0;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: scale(1.2);
        opacity: 0;
      }
    }
  }

  &.preloader_inactive {
    animation: preloaderInactive 1.5s forwards 1.5s;

    @keyframes preloaderInactive {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        pointer-events: none;
        z-index: -100;
      }
    }
  }
}

.no-js {
  .preloader {
    animation: preloaderInactive 1s forwards 1s;
  }
}

