@import "../../../styles/colors.scss";
@import "../../../styles/fluid.scss";
@import "../../../styles/underline.scss";
@import "../../../styles/wrapper.scss";

/* Header */
.header {
  @include wrapper-x;
  @include wrapper-top;
  @include fluid("padding-bottom", 35, 50);

  a {
    h1 {
      @include fluid("font-size", 24, 34);
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      @include underline($color-background-secondary);
      color: $color-text-primary;
    }

    img {
      @include fluid("height", 90, 140);
    }
  }
}