@import "../../styles/fluid.scss";
@import "../../styles/typography.scss";

/* Keybindings page */
.keybindings {
  .header {
    display: flex;
    justify-content: space-between;
    @include fluid(margin-bottom, 30, 40);

    .group {
      display: flex;
      align-items: center;

      .logo {
        @include fluid(margin-right, 16, 20);
  
        img {
          @include fluid(height, 40, 80);
        }
      }

      .title {
        display: flex;
        flex-direction: column;
  
        h1 {
          @include fluid(font-size, 24, 32);
        }

        span {
          line-height: 1;
        }
      }
    }
  }

  .footer {
    display: grid;
    grid-template-columns: 3fr 2fr;
    @include fluid(margin-top, 30, 40);
    @include fluid(margin-bottom, 30, 40);
  }
}