@import "../../styles/colors.scss";
@import "../../styles/typography.scss";

/* Keyboard */
$column-width: 3rem;
$row-height: $column-width * 3.25;

.keyboard {
  padding: 2rem 0;
  padding: 2rem;
  overflow-x: auto;
  background: $color-background-secondary;

  .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(100, $column-width);
    // @TODO:
    // grid-template-columns: repeat(auto-fill, $column-width);
    height: $row-height;
  }
}