@import "../../../styles/fluid.scss";

/* Wrapper */
$padding-x-min: 35;
$padding-x-max: 50;
$padding-y-min: $padding-x-min;
$padding-y-max: $padding-x-max;

.wrapper {
  @include fluid("padding-left", $padding-x-min, $padding-x-max);
  @include fluid("padding-right", $padding-x-min, $padding-x-max);
  @include fluid("padding-top", $padding-y-min, $padding-y-min);
  @include fluid("padding-bottom", $padding-y-min, $padding-y-min);
  height: 100%;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
  }
}