@import "../../styles/colors.scss";
@import "../../styles/fluid.scss";

@import "../keyboard/Keyboard.module.scss";

/* Keyboard detail */
.detail {
  display: block;
  padding: 0 2rem;

  .key {
    height: 100%;

    .inner {
      height: 100%;
      min-height: $row-height;
      opacity: 0.3;
      cursor: default;
  
      &:hover {
        opacity: 0.3 !important;
        background: inherit;
      }

      &.active {
        opacity: 1;
      }

      .action_item {
        font-size: 1.6rem;
      }
    }
  }
}