@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";
@import "../../styles/fluid.scss";

@import "../keyboard/Keyboard.module.scss";

/* Keyboard detail */
.detail {
  display: block;

  @include breakpoint(tablet) {
    padding: 0;
  }

  .row {
    min-height: $row-height;
    height: 100%;
    
    .key {
      height: 100%;
      margin: 0.6rem;
  
      .inner {
        height: 100%;
        opacity: 0.3;
        cursor: default;
    
        &:hover {
          opacity: 0.3 !important;
          background: inherit;
        }
  
        &.active {
          opacity: 1;
        }
  
        .action_item {
          font-size: 1.6rem;
        }
      }
    }
  }
}